## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
csvpath = 'Resources/2016-FCC-New-Coders-Survey-Data.csv'
bootcampDF = pd.read_csv(csvpath, low_memory=False)

In [3]:
# Read with pandas

bootcampDF.tail(15)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
15605,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
15606,43.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,bachelor's degree,Physics,NaN
15607,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,no high school (secondary school),NaN,NaN
15608,43.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical Engineering,NaN
15609,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Software Engineering,15000.0
15610,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,master's degree (non-professional),Religious Studies,26000.0
15611,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical and Electronics Engineering,NaN
15612,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,30000.0
15613,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"trade, technical, or vocational training",NaN,NaN
15614,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"trade, technical, or vocational training",NaN,NaN
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,bachelor's degree,Chemistry,NaN
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,bachelor's degree,Electrical Engineering,NaN
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Chemistry,NaN
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,master's degree (non-professional),Math,NaN
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Graphic Design,40000.0

In [4]:
# Inspect all columns
bootcampDF.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)

bcdfColumns = bootcampDF.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
bcdfColumns.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
# Hint use the df.replace function
bcdfColumns["AttendedBootcamp"].replace([0.0,1.0], ['No','Yes'], inplace=True)
bcdfColumns["BootcampFinish"].replace([0.0,1.0], ['No','Yes'], inplace=True)
bcdfColumns["BootcampFullJobAfter"].replace([0.0,1.0], ['No','Yes'], inplace=True)
bcdfColumns["BootcampLoanYesNo"].replace([0.0,1.0], ['No','Yes'], inplace=True)
bcdfColumns["BootcampRecommend"].replace([0.0,1.0], ['No','Yes'], inplace=True)
bcdfColumns["HasChildren"].replace([0.0,1.0], ['No','Yes'], inplace=True)


bcdfColumns.head()

C:\Users\Tom Stark\anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Calculate total number of respondents in survey
# consider using the len() function

totalSurveyed = len(bcdfColumns)
totalSurveyed

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
# Filter using df.loc on the AttendedBootcamp column
bcattendees = bcdfColumns.loc[bcdfColumns["AttendedBootcamp"] == "Yes"]
bcattendees.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN

In [9]:
# Calculate average age of attendees
# Pull out the `Age` series and take the average of it
avgAge = bcattendees["Age"].mean()
avgAge

31.066014669926652

In [10]:
# Calculate how many people attended a bootcamp
# Count the values of the AttendedBootcamp column
totalAttendees = bcattendees["AttendedBootcamp"].count()
totalAttendees

953

In [11]:
# Calculate how many attendees hold degrees
# It is easier to do this with `value_counts() count values for the SchoolDegree column

schoolDegreeDF = bcattendees["SchoolDegree"].value_counts().to_frame()
schoolDegreeDF

                                          SchoolDegree
bachelor's degree                                  462
some college credit, no degree                     116
master's degree (non-professional)                  96
professional degree (MBA, MD, JD, etc.)             39
high school diploma or equivalent (GED)             38
associate's degree                                  32
trade, technical, or vocational training            24
some high school                                    10
Ph.D.                                                8
no high school (secondary school)                    7

In [12]:
# Count the number of records where the person is a degree holder
# There are several ways to approach this. You can look for people who have degrees
# or for people who don't have degrees depending on the value of the SchoolDegree column

withdegree = bcattendees.loc[(bcattendees["SchoolDegree"] == "bachelor's degree") |
                             (bcattendees["SchoolDegree"] == "master's degree (non-professional)") |
                             (bcattendees["SchoolDegree"] == "professional degree (MBA, MD, JD, etc.)") |
                             (bcattendees["SchoolDegree"] == "Ph.D.") |
                             (bcattendees["SchoolDegree"] == "associate's degree"),]
percentagewithdegree = withdegree["SchoolDegree"].value_counts().sum() / totalAttendees
percentagewithdegree

0.6684155299055614

In [13]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
attendeegenderDF = bcattendees["Gender"].value_counts().to_frame()
# attendeegenderDF["% of Respondents"] = attendeegenderDF["Gender"] / len(bcattendees)
attendeegenderDF["% of Respondents"] = attendeegenderDF["Gender"] / attendeegenderDF["Gender"].sum()
attendeegenderDF

             Gender  % of Respondents
male            496          0.595438
female          326          0.391357
genderqueer       6          0.007203
trans             3          0.003601
agender           2          0.002401

In [14]:
# Calculate percentage of respondents who attended a bootcamp
bcpercentageDF = bcdfColumns["AttendedBootcamp"].value_counts().to_frame()
bcpercentageDF["% of Respondents"] = bcpercentageDF["AttendedBootcamp"] / len(bcdfColumns["AttendedBootcamp"])
bcpercentageDF

     AttendedBootcamp  % of Respondents
No              14427          0.923624
Yes               953          0.061012

In [15]:
# Calculate percentage of respondents belonging to each gender
totalgenderDF = bcdfColumns["Gender"].value_counts().to_frame()
totalgenderDF["% of Respondents"] = totalgenderDF["Gender"] / totalgenderDF["Gender"].sum()
totalgenderDF

             Gender  % of Respondents
male          10766          0.783210
female         2840          0.206606
genderqueer      66          0.004801
agender          38          0.002764
trans            36          0.002619

In [16]:
# Calculate percentage of attendees with a college degree
percentageDF = bcattendees.loc[(bcattendees["SchoolDegree"] == "bachelor's degree") |
                               (bcattendees["SchoolDegree"] == "master's degree (non-professional)") |
                               (bcattendees["SchoolDegree"] == "professional degree (MBA, MD, JD, etc.)") |
                               (bcattendees["SchoolDegree"] == "Ph.D.") |
                               (bcattendees["SchoolDegree"] == "associate's degree"),]
percentageDF = percentageDF["SchoolDegree"].value_counts().to_frame()
percentageDF["% of Respondents"] = percentageDF["SchoolDegree"] / len(bcattendees)
percentageDF["% of Respondents"].sum()

0.6684155299055613

In [17]:
# Calculate average post-bootcamp salary
postBCsalary = bcdfColumns["BootcampPostSalary"].dropna().mean()
postBCsalary

63740.50606060606

In [57]:
# Create a new table consolidating above calculations
consolidatedDF = pd.DataFrame({"Total Surveyed": [totalSurveyed],
                               "Total Bootcamp Attendees": [totalAttendees],
                               "% Attended Bootcamp":[bcpercentageDF.iloc[1,1]],
                               "Avg. Age": [avgAge],
                               "Has a Degree":percentagewithdegree,
                               "% Male":[attendeegenderDF.iloc[0,1]],
                               "% Female":[attendeegenderDF.iloc[1,1]],
                               "% Non Gender Specific":[(attendeegenderDF.iloc[2,1] + attendeegenderDF.iloc[3,1] + attendeegenderDF.iloc[4,1])],
                               "Post Bootcamp Salary":[postBCsalary]
                              })

consolidatedDF = consolidatedDF.astype("float")
consolidatedDF

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg. Age,Has a Degree,% Male,% Female,% Non Gender Specific,Post Bootcamp Salary
0,15620.0,953.0,0.061012,31.066015,0.668416,0.595438,0.391357,0.013205,63740.506061

In [58]:
# Improve formatting before outputting spreadsheet
consolidatedDF["% Attended Bootcamp"] = consolidatedDF["% Attended Bootcamp"].map("{:.2%}".format)
consolidatedDF["Avg. Age"] = consolidatedDF["Avg. Age"].map("{:.0f}".format)
consolidatedDF["Has a Degree"] = consolidatedDF["Has a Degree"].map("{:.2%}".format)
consolidatedDF["% Male"] = consolidatedDF["% Male"].map("{:.2%}".format)
consolidatedDF["% Female"] = consolidatedDF["% Female"].map("{:.2%}".format)
consolidatedDF["% Non Gender Specific"] = consolidatedDF["% Non Gender Specific"].map("{:.2%}".format)
consolidatedDF["Post Bootcamp Salary"] = consolidatedDF["Post Bootcamp Salary"].map("${:.2f}".format)
consolidatedDF

,Total Surveyed,Total Bootcamp Attendees,% Attended Bootcamp,Avg. Age,Has a Degree,% Male,% Female,% Non Gender Specific,Post Bootcamp Salary
0,15620.0,953.0,6.10%,31,66.84%,59.54%,39.14%,1.32%,$63740.51

In [60]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes
consolidatedDF.to_excel("Homework2.xlsx", index=False)